<nav class="site-nav">
  <div class="wrapper">
    <a class="site-title" href="{{ '/' | relative_url }}">Sam Olson</a>

    <ul class="nav-menu">
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/pages/about.html' | relative_url }}">About</a></li>
      <li><a href="{{ '/pages/projects.html' | relative_url }}">Projects</a></li>
      <li><a href="{{ '/pages/cv.html' | relative_url }}">CV</a></li>
      <li><a href="{{ '/pages/contact.html' | relative_url }}">Contact</a></li>
    </ul>
  </div>
</nav>
